scripts/sides/mtx_to_tsv_performance/counts.mtx
scripts/sides/tpm_handler_performance/samples_all.countTable.TPM.gnames_sum_dup
scripts/sides/mtx_to_tsv_performance/counts.mtx_cols
scripts/sides/mtx_to_tsv_performance/counts.mtx_rows
*.out
*.err
.registry
ecotyper
.conda
